<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'css/output.css' %}"
      type="text/css"
    />

    <title>Document</title>
  </head>
  <body class="flex flex-col justify-center items-center">
    <h1 class="text-lg p-6">Hello World</h1>
    <p class="text-orange-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, ipsum. Aut
      numquam distinctio deleniti, voluptates aspernatur quasi, sapiente minima
      eaque maiores ab quo. Laudantium libero dicta, ad nesciunt fuga dolore.
    </p>
  </body>
</html>
